{{ define "section_content" }}
<article class="flex-container">
    {{ .Content }}
</article>
<nav role="navigation">
    <ul>
        {{ range .Data.Pages }}
        <li>
            {{ if .Params.showDate }}
            {{ .Date.Format (.Site.Params.dateForm | default "Mon Jan 02, 2006")}} --
            {{ end }}
            <a href="{{.RelPermalink}}">
                {{.Title | markdownify}}
            </a>
        </li>
        {{ end }}
    </ul>
</nav>
{{ end }}
<script 
    type="module" 
    src="https://penmark.appsinprogress.com/dist/DraftsClient.js"
    draftsFolder="drafts/"
    postsFolder="posts/"
    imagesFolder="static/img"
    githubUsername="wong-justin"
    githubRepoName="isaiah-website"
	></script>
